// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// FontAwesome
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Select (For Live Search)
@import '../../node_modules/bootstrap-select/sass/bootstrap-select.scss';

html, body{
    width:100%;
    overflow-x:hidden;
}

// For logo up top
.nav-logo{
    height:$navbar-height;
}
.logo{
    height: 100px;
}
// For blockly graph
#funcText {
    margin-top: 1em;
    margin-left: 1.5em;
}
#funcText>img {
    height: 3px;
    width: 15px;
    vertical-align: middle;
    margin-right: .5em;
}
#y1 {
    background-color: #36c;
}

// For Blockly resize
#blockly-body{
    height:100%;
    width:100%;
    overflow: hidden;
}

.blockly-table {
    height: 100%;
    width: 100%;
}
#blocklyDiv{
    position:absolute;
}
#blocklyArea {
    height: 90%;
}
#blockly-footer{
    height:10%;
}
/*
.full-screen{
    height:50vh;
    overflow: auto;
}*/

// Tabs for teacher dashboard
//.nav-item .tab-colour{
//    background-color: $teal;
//    color: white;
//    & .nav-link{
//        color: white;
//    }
//}
//.card-body .nav-item .tab-colour .active{
//    background-color: $green;
//}
