// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// FontAwesome
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap Select (For Live Search)
@import '../../node_modules/bootstrap-select/sass/bootstrap-select.scss';

// Mixin transitions
@import "mixins";

// Masthead Carosel css
@import "masthead";

// Blockly css
@import "blockly";

// Navbar
@import "navbar";

@import "features";

@import "emailform";

html, body{
    width:100%;
    overflow-x:hidden;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-img-top img{
    max-width: 100%;
    max-height: 100%;
}
